# Main dependencies
fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
openai
langchain
langchain-openai
langchain-community
requests
tenacity
sqlmodel
pymysql
cryptography
sentence-transformers
httpx
pytest
langchain-huggingface
# OpenAI Agents
openai-agents

# Utility dependencies
python-multipart
langchain-milvus